@model MvcLibrary.Models.Entity.Announcement
@{
    ViewBag.Title = "AnnouncementAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="~/Scripts/jquery-3.7.0.js"></script>

<br />
<form class="form-group" method="post" id="authorForm">
    <div>
        <label>Kategori Adı</label>
        @Html.TextBoxFor(x => x.AnnouncementCategory, new { @class = "form-control" })
        <br />
        <label>İçerik </label>
        @Html.TextAreaFor(x => x.AnnouncementContent, new { @class = "form-control" })
        <br /> 
       
     

    </div>

    <div>
        <button class="btn btn-outline-success" type="submit" id="btn1">Ekle</button>
    </div>
</form>

<script>
    $("#btn1").click(function (e) {
        e.preventDefault();
        Swal.fire({
            icon: 'success',
            title: 'Başarılı!',
            text: 'Duyuru başarıyla eklendi!'
        }).then(() => {
            $("#authorForm").submit();
        });
    });

</script>





