@model MvcLibrary.Models.Entity.Category
@{
    ViewBag.Title = "CategoryAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br/>
<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="CategoryName" />
       
        <br />
       
    </div>

    <div>
        <button class="btn btn-outline-success" type="submit">Ekle</button>
    </div>
</form>

